*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #E4DCCF;
    background-color: hsl(212, 100%, 18%);
}
.box1{
    background-color: #EA5455;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.btn{
    /* background-color: #E4DCCF; */
}